{
  "settings" : {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "airbnb"
  ],
  "rules": {
    "indent": [ "warn", 4 ],
    "react/jsx-indent": [ "warn", 4 ],
    "semi": ["error", "always"],
    "jsx-a11y/href-no-hash": "off",
    "linebreak-style": [ "warn", "windows" ],
    "jsx-a11y/anchor-is-valid": [ "warn", { "aspects": ["invalidHref"] } ],
    "react/prefer-stateless-function": [ 1 ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "comma-dangle": ["error", "never"],
    "no-cond-assign": ["error", "always"],
    "func-names": ["error", "never"]
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  }
}