@import '~styles/core.scss';

footer {
	clear: both;
	height: 50px;
	background-color: $background-color-wh;
	border: 1px solid $border-color-wh;
	font-family: Open Sans, sans-serif;
	color: $font-color;
	font-size: $footer-font-size;
	div {
    	height: 100%;
			 p {
				height: 40px;
				text-align: center;
				line-height: 50px;
			}
	}
}