@import '../Variables/Variables';

footer {
	clear: both;
	height: 50px;
	background-color: $background-color-wh;
	border: 1px solid $border-color-wh;
	font-family: Open Sans, sans-serif;
	color: $font-color;
	font-size: $footer-font-size;
		 p {
			width: 100%;
			height: 100%;
			text-align: center;
			vertical-align: middle;
		}
}