// Colors
$wh: #fff;
$base-font-color: #6d6d6d;
$primary-font-color: rgba(79, 79, 79, 0.5);
$content-bg-color: rgba(24, 24, 24, 0.7);
$tags-bg-color: #c8c8c8;

// Backgrounds color
$background-color: #f7f7f7;
$background-color-wh: #ffffff;
$background-color-mark-tag: #D3D3D3;
$background-color-button: #696969;

// Borders color
$border-color: #808080;
$border-color-wh: #ffffff;
$border-color-item: #D3D3D3;
$border-color-input: #808080;
$border-color-button: #808080;
$border-color-button-hover: #696969;

// Fonts
$base-font-family: Merriweather, Sans-Serif;
$primary-font-family: Roboto Slab, Sans-Serif;

$base-font-size: 0.9375em;
$primary-font-size: 2.25em;
$link-font-size: 0.75em;

$base-letter-spacing: 1.4px;
$primary-letter-spacing: 5px;

$base-font-weight: 300;
$primary-font-weight: 600;
$nav-font-weight: 400;

$base-line-height: 2em;
$primary-line-height: 1.5em;

$font-color: #808080;
$font-color-wh: #ffffff;
$sidebar-font-color: #D3D3D3;
$tags-font-color: #171717;

$p-items-font-size: 0.75em;
$items-list-font-size: 0.875em;
$sidebar-font-size: 0.75em;
$tags-font-size: 1em;
$button-font-size: 0.875em;
$footer-font-size: 0.75em;
$header-font-size: 0.875em;