@import '~styles/core.scss';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #0f1101 !important;
}

.auth-form {
  color: $base-font-color;
  @include pad(5px 30px);
  font-size: $primary-font-size;
  letter-spacing: $primary-letter-spacing;
  line-height: $primary-line-height;
  text-transform: none;
  .auth-form-input {
    outline: none;
    background: transparent;
    width:100%;
    height: 30px;
    border: none;
    position: relative;
    padding: 5px 30px;
    color: #616161;
    font-family: Roboto Slab, Sans-Serif;
    text-shadow: 0px 0px 1px grey;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
  }

  >div:nth-of-type(1),
  >div:nth-of-type(2) {
    position: relative;
    &:before {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 2px;
      visibility: hidden;

      background-color: $primary-font-color;

      content: '';
      transform: scaleX(0);
      transition: all 0.2s ease-in-out 0s;
    }
  }

  >div:hover {
    &:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

.auth-form-buttons button{
  outline: none;
  margin: 5px 0px 0px 0px;
  align-items: center;
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  font-family: Roboto Slab, Sans-Serif;
  text-shadow: 0px 0px 1px grey;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s ease-in-out 0s;
  &:hover {
    background-color: white;
    border: none;
    color: grey;
  }
}