$font-color: #808080;
$font-color-wh: #ffffff;
$sidebar-font-color: #D3D3D3;
$tags-font-color: #171717;

$background-color: #f7f7f7;
$background-color-wh: #ffffff;
$background-color-mark-tag: #D3D3D3;
$background-color-button: #696969;

$border-color: #808080;
$border-color-wh: #ffffff;
$border-color-item: #D3D3D3;
$border-color-input: #808080;
$border-color-button: #808080;
$border-color-button-hover: #696969;

$p-items-font-size: 12px;
$items-list-font-size: 14px;
$sidebar-font-size: 12px;
$tags-font-size: 16px;
$button-font-size: 14px;
$footer-font-size: 12px;
$header-font-size: 14px;