@import '~variables';
@import '~mixins';

.article-body {
  @include marg(90px 0);

  a {
    text-decoration: none;
    color: $base-font-color;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $primary-font-color;
    }
  }
}

.article-title {
  cursor: pointer;
  @include marg(12px 0);
  font-size: 36px;
  letter-spacing: $primary-letter-spacing;
  text-transform: none;
  line-height: 1.5em;
}

.article-dot {
  @include marg(0 10px);

  &:after {
    content: '●';
  }
}

.article-arrow{
  &:after {
    content: '→';
  }
}

.article-more {
  font-weight: $primary-font-color;
  cursor: pointer;
}

.article-date {
  color: $primary-font-color;
  letter-spacing: $primary-letter-spacing;
}

.article-info {
  a {
    @extend .article-date;

    &:hover {
      color: $base-font-color;
    }

    span {
      cursor: pointer;
      background: #c8c8c8;
      color: #fff;
      @include pad(2px 5px);
      @include marg(0 5px);
      transition: all 0.3s ease-in-out;

      &:hover {
        color: rgba(0, 0, 0, 0.5);
        background: #fff;
      }
    }
  }
}
