.App {
  text-align: center;
  font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /*height: 150px;*/
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-header button {
  background-color: transparent;
  border: 1px solid #00d8ff;
  padding: 5px 10px;
  color: #fff;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.App-header button:hover,
.App-header button:active {
  background-color: #00d8ff;
  border: 1px solid #00d8ff;
  color: #000;

  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.span {
  display: block;
}