@import '~styles/core.scss';

.article--tags--sidebar a {
  padding: 2px 5px;
  margin: 0 5px;
  text-decoration: none;

  background: $primary-font-color;
  color: white;

  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $primary-font-color;
    background: $wh;
  }
}