@import '~styles/core.scss';

.c-userpage {
    float: left;
    margin-top: 55px;
    margin-bottom: 55px;
    padding: 21px;
    width: 70%;
    background-color: white;
    font-size: 1em;
}
.c-userpage__info {
    .c-userpage__avatar {
        margin-right: 45px;
        float: right;
        background: url('../../../dist/avatar.jpg') no-repeat 13% 88.5%;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 3px solid $base-font-color;
    }
    .c-userpage__card {
        margin-top: 25px;
        line-height: 1;
        width: 35%;
        margin-left: 15px;
            .c-userpage__field {
                line-height: 2;
            }
            .c-userpage__value--bold {
                font-weight: bold;
            }
    }
}
.c-userpage__about {
    padding-top: 25px;
        .c-userpage__text {
            margin: 0px;
            padding: 0px 35px;
        }
        .c-userpage__text--font_size {
            font-size: $profile-about-text-font-size;
        }
}
.l-list {
    margin-left: 15px;
    margin-bottom: 30px;
        a {
        text-decoration: none;
        color: $base-font-color;
        font-size: $base-font-size;
            .l-list__item {
                font-weight: bold;
                font-size: $profile-posts-list-font-size;
            }
        }
}
.c-userpage__header {
    text-align: center;
}
.c-userpage__header--padding {
    padding-bottom: 15px;
}