@import '~styles/core.scss';

.app,
.app__posts>div {
  transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.app__content {
  padding: 50px 0 150px 0;
}

.app__header,
.app__footer {
  padding: 16px;

  background: #fff;
}

.app__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
