// Colors
$wh: #fff;
$base-font-color: #616161;
$primary-font-color: rgba(79, 79, 79, 0.5);
$tags-bg-color: #c8c8c8;

// Fonts
$base-font-family: Merriweather, Sans-Serif;
$primary-font-family: Roboto Slab, Sans-Serif;

$base-font-size: 15px;
$primary-font-size: 36px;
$link-font-size: 12px;

$base-letter-spacing: 1.4px;
$primary-letter-spacing: 5px;

$base-font-weight: 300;
$primary-font-weight: 600;
$nav-font-weight: 400;

$base-line-height: 2em;
$primary-line-height: 1.5em;
