html, body {
	background-color: #f7f7f7;
}
body main {
	width: 960px;
	margin: 0 auto;
	background-color: #f7f7f7;
}
.blog-items {
	background-color: #ffffff;
	width: 75%;
	float: left;
}
.item-1 h1 {
	text-align: center;
	background-color: #f7f7f7;
	margin: 0px;
	line-height: 50px;
}
.item-1 h1 a {
	text-decoration: none;
	color: #808080;
}
.item-1 p {
	margin: 0px;
	width: 700px;
	text-align: center;
	padding: 30px 10px;
	line-height: 30px;
	white-space: pre-wrap;
	position: relative;
	top: -5px;
	font-size: 14px;
}
.item-1 hr {
	width: 500px;
	display: block;
	border: 0;
	border-top: 1px solid #D3D3D3;
	position: relative;
	top: -10px;
}
.item1-list {
	width: 100%;
	font-size: 16px;
	letter-spacing: 3px;
	box-sizing: border-box;
}
.item1-list li {
	display: inline-block;
	margin-right: 15px;
}
.item1-list a {
	text-decoration: none;
}
.item1-list li:nth-child(2) {
	border-left: 2px solid #D3D3D3;
}
.item1-list li:nth-child(2) {
	padding-left: 15px;
}
.item1-list mark {
	background-color: #D3D3D3;
}
.item1-list mark:hover {
	background-color: #ffffff;
	color: #808080;
}
.item-2 h1 {
	text-align: center;
	background-color: #f7f7f7;
	margin: 0px;
	line-height: 50px;
}
.item-2 h1 a {
	text-decoration: none;
	color: #808080;
}
.item-2 p {
	margin: 0px;
	width: 700px;
	text-align: center;
	padding: 30px 10px;
	line-height: 30px;
	white-space: pre-wrap;
	position: relative;
	top: -5px;
	font-size: 14px;
}
.item-2 hr {
	width: 500px;
	display: block;
	border: 0;
	border-top: 1px solid #D3D3D3;
	position: relative;
	top: -10px;
}
.item2-list {
	width: 100%;
	font-size: 16px;
	letter-spacing: 3px;
	box-sizing: border-box;
}
.item2-list li {
	display: inline-block;
	margin-right: 15px;
}
.item2-list a {
	text-decoration: none;
}
.item2-list li:nth-child(2) {
	border-left: 2px solid #D3D3D3;
}
.item2-list li:nth-child(2) {
	padding-left: 15px;
}
.item2-list mark {
	background-color: #D3D3D3;
}
.item2-list mark:hover {
	background-color: #ffffff;
	color: #808080;
}
.item-3 h1 {
	text-align: center;
	background-color: #f7f7f7;
	margin: 0px;
	line-height: 50px;
}
.item-3 h1 a {
	text-decoration: none;
	color: #808080;
}
.item-3 p {
	margin: 0px;
	width: 700px;
	text-align: center;
	padding: 30px 10px;
	line-height: 30px;
	white-space: pre-wrap;
	position: relative;
	top: -5px;
	font-size: 14px;
}
.item-3 hr {
	width: 500px;
	display: block;
	border: 0;
	border-top: 1px solid #D3D3D3;
	position: relative;
	top: -10px;
}
.item3-list {
	width: 100%;
	font-size: 16px;
	letter-spacing: 3px;
	box-sizing: border-box;
}
.item3-list li {
	display: inline-block;
	margin-right: 15px;
}
.item3-list a {
	text-decoration: none;
}
.item3-list li:nth-child(2) {
	border-left: 2px solid #D3D3D3;
}
.item3-list li:nth-child(2) {
	padding-left: 15px;
}
.item3-list mark {
	background-color: #D3D3D3;
}
.item3-list mark:hover {
	background-color: #ffffff;
	color: #808080;
}
.blog-items h1 {
	padding-top: 50px;
}
.sidebar {
	width: 20%;
	float: right;
	text-align: center;
	margin-top: 60px;
	font-size: 12px;
}
.sidebar input {
	width: 185px;
	height: 25px;
	font-size: 12px;
	color: #D3D3D3;
	border-radius: 15px;
	border: 1px solid #808080;
}
.sidebar ul {
	list-style: none;
	width: 100%;
	padding: 0px;
    margin: 0px;
}
.tags-list ul {
	height: 130px;
}
.sidebar div {
	padding-top: 25px;
}
.tags-list li {
	display: inline-block;
	padding: 5px;
	cursor: pointer;
}
.tags-list a {
	font-size: 16px;
	letter-spacing: 3px;
	text-decoration: none;
	background-color: #D3D3D3;
	color: #171717;
}
.tags-list a:hover {
	background-color: #ffffff;
	color: #808080;
}
.posts-list ul {
	height: 130px;
}
.more-items {
	background-color: #f7f7f7;
	padding-top: 20px;
	padding-bottom: 40px;
	text-align: center;
}
button {
	height: 30px;
	width: 165px;
	border-radius: 15px;
	border: 2px solid #808080;
	font-family: Open Sans, sans-serif;
	color: #808080;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 3px;
	cursor: pointer;
	background-color: #ffffff;
}
button:hover {
	background-color: #696969;
	color: #ffffff;
	border: 2px solid #696969;
}