$font-color: #808080;
$font-color-wh: #ffffff;
$sidebar-font-color: #D3D3D3;
$tags-font-color: #171717;

$background-color: #f7f7f7;
$background-color-wh: #ffffff;
$background-color-mark-tag: #D3D3D3;
$background-color-button: #696969;

$border-color-item: #D3D3D3;
$border-color-input: #808080;
$border-color-button: #808080;
$border-color-button-hover: #696969;

html, body {
	background-color: $background-color;
}
body main {
	width: 960px;
	margin: 0 auto;
	background-color: $background-color;
}
.blog-items {
	background-color: $background-color-wh;
	width: 75%;
	float: left;
		 h1 {
			padding-top: 50px;
		}
}
.item-1,
.item-2,
.item-3 {
		h1 {
			text-align: center;
			background-color: $background-color;
			margin: 0px;
			line-height: 50px;
				a {
				text-decoration: none;
				color: $font-color;
				}
		}
		p {
			margin: 0px;
			width: 700px;
			text-align: center;
			padding: 30px 10px;
			line-height: 30px;
			white-space: pre-wrap;
			position: relative;
			top: -5px;
			font-size: 14px;
		}
		hr {
			width: 500px;
			display: block;
			border: 0;
			border-top: 1px solid $border-color-item;
			position: relative;
			top: -10px;
		}
}
.item1-list,
.item2-list,
.item3-list {
	width: 100%;
	font-size: 16px;
	letter-spacing: 3px;
	box-sizing: border-box;
}
.item1-list,
.item2-list,
.item3-list {
		li {
			display: inline-block;
			margin-right: 15px;
		}
		a {
			text-decoration: none;
		}
		mark {
			background-color: $background-color-mark-tag;
		}
}
.item1-list,
.item2-list,
.item3-list {
		li:nth-child(2) {
			padding-left: 15px;
			border-left: 2px solid $border-color-item;
		}
}
.item1-list,
.item2-list,
.item3-list {
		mark:hover {
			background-color: $background-color-wh;
			color: $font-color;
		}
}
.sidebar {
	width: 20%;
	float: right;
	text-align: center;
	margin-top: 60px;
	font-size: 12px;
			input {
				width: 185px;
				height: 25px;
				font-size: 12px;
				color: $sidebar-font-color;
				border-radius: 15px;
				border: 1px solid $border-color-input;
			}
			 ul {
				list-style: none;
				width: 100%;
				padding: 0px;
				margin: 0px;
			}
			div {
				padding-top: 25px;
			}
}
.tags-list {
			ul {
				height: 130px;
			}

			li {
				display: inline-block;
				padding: 5px;
				cursor: pointer;
			}
			a {
				font-size: 16px;
				letter-spacing: 3px;
				text-decoration: none;
				background-color: $background-color-mark-tag;
				color: $tags-font-color;
			}
}
.tags-list a:hover {
	background-color: $background-color-wh;
	color: $font-color;
}
.posts-list ul {
	height: 130px;
}
.more-items {
	background-color: $background-color;
	padding-top: 20px;
	padding-bottom: 40px;
	text-align: center;
}
button {
	height: 30px;
	width: 165px;
	border-radius: 15px;
	border: 2px solid $border-color-button;
	font-family: Open Sans, sans-serif;
	color: $font-color;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 3px;
	cursor: pointer;
	background-color: $background-color-wh;
}
button:hover {
	background-color: $background-color-button;
	color: $font-color-wh;
	border: 2px solid $border-color-button-hover;
}