@import '../Variables/Variables';

header {
	background-color: $background-color-wh;
	font-family: Open Sans, sans-serif;
	color: $font-color;
}
.header-items {
	width: 960px;
	height: 150px;
	margin: 0 auto;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.logo {
	width: 30%;
	float: left;
	font-size: 0px;
	letter-spacing: 0;
	line-height: 0;
}
.menu {
	width: 70%;
	float: right;
	font-size: $header-font-size;
	font-weight: bold;
	letter-spacing: 5px;
	padding-top: 50px;
}
.menu-list {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 75%;
	display: inline-block;
	text-align: center;
		a {
			text-decoration: none;
			color: $font-color;
		}
		li {
			width: 75px;
			text-transform: uppercase;
			display: inline-block;
		}
		li:first-child {
         	padding-left: 5px;
         	margin-right: 50px;
         	margin-left: 190px;
        }
        li:hover {
         	border-bottom: 2px solid $border-color;
        }
}