.App {
  text-align: center;
  list-style-position:inside;
}

.App-logo {
  animation: App-logo-spin infinite 1.5s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button{
  width: 100px;
  height:30px;
  border-radius: 4px;
  margin:50px;
  outline: none;
}
.on{
  color:#666;
  background-color: #ccc;
  border: 0;
  transition: 1s;
}
.off{
  color:#888;
  background-color: white;
  border: 0;
  box-shadow: 1px 1px 1px 1px #222222;
  transition: 1s;
}