@import '~variables';
@import '~mixins';

body {
  @include marg(0);
  @include pad(0);
  background-size: cover;

  background: url(./bg.jpg) no-repeat center center fixed;
  color: $base-font-color;

  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  letter-spacing: $base-letter-spacing;
  line-height: $base-line-height;
}

h1, h2, h3 {
  @include marg(1em 0 .5em);

  text-rendering: optimizeLegibility;
}

#page {
  @include marg(auto);
  @include pad(1px 32px);

  background: $content-bg-color;

  box-sizing: border-box;
  width: auto;
  max-width: 1020px;
}
